<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>C</key>
      <integer>-28</integer>
      <key>G</key>
      <integer>-23</integer>
      <key>O</key>
      <integer>-28</integer>
      <key>Q</key>
      <integer>-15</integer>
      <key>T</key>
      <integer>-53</integer>
      <key>V</key>
      <integer>-84</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>-4</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>-27</integer>
      <key>w</key>
      <integer>-21</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>-7</integer>
      <key>public.kern2.w</key>
      <integer>-3</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>AE</key>
      <integer>-5</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>V</key>
      <integer>-15</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.x</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
      <key>x</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>J</key>
      <integer>-28</integer>
      <key>a</key>
      <integer>-68</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>-28</integer>
      <key>public.kern2.A</key>
      <integer>-63</integer>
      <key>s</key>
      <integer>-5</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>Y</key>
      <integer>-29</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <integer>-22</integer>
      <key>public.kern2.Y</key>
      <integer>-21</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-5</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>a</key>
      <integer>-6</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-13</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-18</integer>
      <key>public.kern2.w</key>
      <integer>-12</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-93</integer>
      <key>Y</key>
      <integer>-35</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-6</integer>
      <key>public.kern2.W</key>
      <integer>-33</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>T</key>
      <integer>-36</integer>
      <key>Y</key>
      <integer>-42</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>Oslash</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-13</integer>
    </dict>
    <key>Oslashacute</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-13</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>Y</key>
      <integer>-21</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>-64</integer>
      <key>public.kern2.period</key>
      <integer>-85</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-21</integer>
      <key>public.kern2.W</key>
      <integer>-19</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>T</key>
      <integer>-5</integer>
      <key>Y</key>
      <integer>-18</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>oslash</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-7</integer>
      <key>public.kern2.o</key>
      <integer>-6</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>-7</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>-6</integer>
      <key>w</key>
      <integer>-6</integer>
    </dict>
    <key>Schwa</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-13</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-53</integer>
      <key>a</key>
      <integer>-114</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-36</integer>
      <key>public.kern2.period</key>
      <integer>-101</integer>
      <key>v</key>
      <integer>-27</integer>
      <key>w</key>
      <integer>-87</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>s</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-82</integer>
      <key>a</key>
      <integer>-101</integer>
      <key>b</key>
      <integer>0</integer>
      <key>u</key>
      <integer>-76</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-6</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>O</key>
      <integer>-42</integer>
      <key>S</key>
      <integer>-17</integer>
      <key>a</key>
      <integer>-97</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>-84</integer>
      <key>public.kern2.O</key>
      <integer>-42</integer>
      <key>s</key>
      <integer>-83</integer>
      <key>u</key>
      <integer>-76</integer>
      <key>v</key>
      <integer>-60</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.x</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
      <key>x</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>ae</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
    </dict>
    <key>aring</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>n</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.x</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>-13</integer>
      <key>w</key>
      <integer>-13</integer>
      <key>x</key>
      <integer>-13</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.x</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>-9</integer>
      <key>w</key>
      <integer>-8</integer>
      <key>x</key>
      <integer>-8</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>a</key>
      <integer>-23</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>oslash</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>iacute</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>a</key>
      <integer>-3</integer>
      <key>b</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-21</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-4</integer>
      <key>public.kern2.w</key>
      <integer>-4</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>four</key>
      <integer>-43</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>c</key>
      <integer>0</integer>
    </dict>
    <key>oe</key>
    <dict>
      <key>public.kern2.x</key>
      <integer>-5</integer>
    </dict>
    <key>oslash</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>four</key>
      <integer>-37</integer>
      <key>public.kern2.T</key>
      <integer>-101</integer>
      <key>public.kern2.V</key>
      <integer>-115</integer>
      <key>public.kern2.W</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-107</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>Hbar</key>
      <integer>-16</integer>
      <key>U</key>
      <integer>-7</integer>
      <key>Y</key>
      <integer>-82</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-31</integer>
      <key>public.kern2.T</key>
      <integer>-69</integer>
      <key>public.kern2.U</key>
      <integer>-13</integer>
      <key>public.kern2.V</key>
      <integer>-29</integer>
      <key>public.kern2.W</key>
      <integer>-73</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>AE</key>
      <integer>-8</integer>
      <key>Z</key>
      <integer>-5</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>0</integer>
      <key>public.kern2.V</key>
      <integer>-11</integer>
      <key>public.kern2.W</key>
      <integer>-16</integer>
      <key>public.kern2.X</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-11</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>AE</key>
      <integer>-88</integer>
      <key>J</key>
      <integer>-71</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>i</key>
      <integer>-35</integer>
      <key>j</key>
      <integer>-35</integer>
      <key>public.kern2.A</key>
      <integer>-71</integer>
      <key>public.kern2.O</key>
      <integer>-29</integer>
      <key>public.kern2.n</key>
      <integer>-42</integer>
      <key>public.kern2.o</key>
      <integer>-68</integer>
      <key>public.kern2.period</key>
      <integer>-88</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-38</integer>
      <key>u</key>
      <integer>-7</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-32</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-53</integer>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.V</key>
      <integer>-129</integer>
      <key>public.kern2.W</key>
      <integer>-85</integer>
      <key>public.kern2.Y</key>
      <integer>-85</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>A</key>
      <integer>-28</integer>
      <key>AE</key>
      <integer>-21</integer>
      <key>X</key>
      <integer>-35</integer>
      <key>Y</key>
      <integer>-15</integer>
      <key>Z</key>
      <integer>-8</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>-31</integer>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.W</key>
      <integer>-46</integer>
      <key>public.kern2.X</key>
      <integer>-25</integer>
      <key>public.kern2.Y</key>
      <integer>-28</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>public.kern2.x</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>AE</key>
      <integer>-26</integer>
      <key>Z</key>
      <integer>-11</integer>
      <key>b</key>
      <integer>0</integer>
      <key>four</key>
      <integer>-37</integer>
      <key>public.kern2.A</key>
      <integer>-57</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>oslash</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-32</integer>
      <key>public.kern2.T</key>
      <integer>-71</integer>
      <key>public.kern2.V</key>
      <integer>-11</integer>
      <key>public.kern2.W</key>
      <integer>-74</integer>
      <key>public.kern2.Y</key>
      <integer>-49</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-41</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>AE</key>
      <integer>-16</integer>
      <key>b</key>
      <integer>0</integer>
      <key>i</key>
      <integer>-42</integer>
      <key>public.kern2.A</key>
      <integer>-69</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-114</integer>
      <key>public.kern2.period</key>
      <integer>-71</integer>
      <key>public.kern2.s</key>
      <integer>-94</integer>
      <key>public.kern2.v</key>
      <integer>-100</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>z</key>
      <integer>-73</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-13</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>AE</key>
      <integer>-34</integer>
      <key>J</key>
      <integer>-5</integer>
      <key>b</key>
      <integer>0</integer>
      <key>i</key>
      <integer>-28</integer>
      <key>public.kern2.A</key>
      <integer>-26</integer>
      <key>public.kern2.O</key>
      <integer>-43</integer>
      <key>public.kern2.n</key>
      <integer>-62</integer>
      <key>public.kern2.o</key>
      <integer>-101</integer>
      <key>public.kern2.period</key>
      <integer>-115</integer>
      <key>public.kern2.s</key>
      <integer>-67</integer>
      <key>public.kern2.v</key>
      <integer>-69</integer>
      <key>t</key>
      <integer>-18</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>AE</key>
      <integer>-24</integer>
      <key>J</key>
      <integer>-8</integer>
      <key>i</key>
      <integer>-28</integer>
      <key>public.kern2.A</key>
      <integer>-82</integer>
      <key>public.kern2.O</key>
      <integer>-45</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-97</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <integer>-53</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>AE</key>
      <integer>-81</integer>
      <key>S</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>p</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-92</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.n</key>
      <integer>-77</integer>
      <key>public.kern2.o</key>
      <integer>-103</integer>
      <key>public.kern2.period</key>
      <integer>-107</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>t</key>
      <integer>-42</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>schwa</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>schwa</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-9</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-11</integer>
      <key>public.kern2.w</key>
      <integer>-11</integer>
      <key>public.kern2.x</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>schwa</key>
      <integer>-3</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>a</key>
      <integer>-6</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-16</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>a</key>
      <integer>-5</integer>
      <key>b</key>
      <integer>0</integer>
      <key>period</key>
      <integer>-47</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>oslash</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>cedi</key>
      <integer>-5</integer>
      <key>cent</key>
      <integer>-19</integer>
      <key>copyright</key>
      <integer>-33</integer>
      <key>currency</key>
      <integer>-45</integer>
      <key>dong</key>
      <integer>-44</integer>
      <key>four</key>
      <integer>-87</integer>
      <key>guarani</key>
      <integer>-11</integer>
      <key>lira</key>
      <integer>-19</integer>
      <key>liraTurkish</key>
      <integer>-5</integer>
      <key>manat</key>
      <integer>-3</integer>
      <key>nine</key>
      <integer>-15</integer>
      <key>section</key>
      <integer>-8</integer>
      <key>six</key>
      <integer>-15</integer>
      <key>sterling</key>
      <integer>-16</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.w</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>three</key>
      <integer>-8</integer>
      <key>two</key>
      <integer>-5</integer>
    </dict>
    <key>threesuperior</key>
    <dict>
      <key>four</key>
      <integer>-21</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <integer>-15</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>a</key>
      <integer>-13</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>a</key>
      <integer>-7</integer>
      <key>b</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-3</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>o</key>
      <integer>-6</integer>
    </dict>
    <key>yen</key>
    <dict>
      <key>cedi</key>
      <integer>-11</integer>
      <key>cent</key>
      <integer>-19</integer>
      <key>colonsign</key>
      <integer>-11</integer>
      <key>copyright</key>
      <integer>-11</integer>
      <key>currency</key>
      <integer>-13</integer>
      <key>five</key>
      <integer>-8</integer>
      <key>four</key>
      <integer>-19</integer>
      <key>guarani</key>
      <integer>-11</integer>
      <key>lira</key>
      <integer>-11</integer>
      <key>nine</key>
      <integer>-8</integer>
      <key>six</key>
      <integer>-11</integer>
      <key>sterling</key>
      <integer>-13</integer>
      <key>three</key>
      <integer>-5</integer>
      <key>two</key>
      <integer>-8</integer>
      <key>zero.zero</key>
      <integer>-16</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>zero.zero</key>
    <dict>
      <key>yen</key>
      <integer>-16</integer>
    </dict>
  </dict>
</plist>
