<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>736</integer>
    <key>copyright</key>
    <string>Copyright 2010 The Josefin Sans Project Authors (https://github.com/ThomasJockin/JosefinSansFont-master), with Reserved Font Name "Josefin Sans".</string>
    <key>descender</key>
    <integer>-210</integer>
    <key>familyName</key>
    <string>Josefin Sans</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>identifier</key>
        <string>Vj1XTJ5Tip</string>
        <key>x</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>CNmR8nECpb</string>
        <key>x</key>
        <integer>30</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>wNkSuUAgQr</string>
        <key>x</key>
        <integer>60</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>Ue3tEmK6PX</string>
        <key>x</key>
        <integer>90</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>1foMqwXASf</string>
        <key>x</key>
        <integer>120</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>QrNRAjShF5</string>
        <key>x</key>
        <integer>150</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>fk8AACTIyy</string>
        <key>x</key>
        <integer>176</integer>
        <key>y</key>
        <integer>1028</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>6NabNbBnky</string>
        <key>x</key>
        <integer>210</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>jao8fsS7yT</string>
        <key>x</key>
        <integer>240</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>ZQhLJQ6qAW</string>
        <key>x</key>
        <integer>270</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>ciuhd7PhnQ</string>
        <key>x</key>
        <integer>300</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>3CV2sKSgQj</string>
        <key>x</key>
        <integer>330</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>LfW46s7cIA</string>
        <key>x</key>
        <integer>360</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>ZPScPpG6dY</string>
        <key>x</key>
        <integer>390</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>K1J2iJlavc</string>
        <key>x</key>
        <integer>420</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>eXsGmCxYWY</string>
        <key>x</key>
        <integer>450</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>ii0NSloT5P</string>
        <key>x</key>
        <integer>480</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>sk7VrWhE30</string>
        <key>x</key>
        <integer>510</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>PSNidaDtnT</string>
        <key>x</key>
        <integer>540</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>6Zzhh80MUz</string>
        <key>x</key>
        <integer>570</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>k6JLdXKhhe</string>
        <key>x</key>
        <integer>600</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>CLliEbpUvs</string>
        <key>x</key>
        <integer>630</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>4NrU8ahKlW</string>
        <key>x</key>
        <integer>660</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>AdpOjVOzbe</string>
        <key>x</key>
        <integer>690</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>LhE8ZQHhMl</string>
        <key>x</key>
        <integer>720</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>8yquYXe2TG</string>
        <key>x</key>
        <integer>750</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>TgTXs0lN0m</string>
        <key>x</key>
        <integer>780</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>NwdO6gW4wB</string>
        <key>x</key>
        <integer>810</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>wtx4xA7CCD</string>
        <key>x</key>
        <integer>840</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>6YynqSWn34</string>
        <key>x</key>
        <integer>870</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>jbifrXMnV8</string>
        <key>x</key>
        <integer>900</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>svSFUb7you</string>
        <key>x</key>
        <integer>930</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>mxcAsSowpF</string>
        <key>x</key>
        <integer>960</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>Iqf7wPyadD</string>
        <key>x</key>
        <integer>990</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2016/08/26 16:01:20</string>
    <key>openTypeHheaAscender</key>
    <integer>750</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Santiago Orozco</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.typemade.mx</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Typemade</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.typemade.mx</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>750</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1242</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>324</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-250</integer>
      <integer>-250</integer>
      <integer>-9</integer>
      <integer>0</integer>
      <integer>375</integer>
      <integer>384</integer>
      <integer>700</integer>
      <integer>732</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>65</integer>
      <integer>81</integer>
      <integer>253</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>256</integer>
      <integer>65</integer>
      <integer>246</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Bold</string>
    <key>trademark</key>
    <string>Josefin Sans is a trademark of Typemade.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>437</integer>
  </dict>
</plist>
