<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>C</key>
      <integer>-39</integer>
      <key>G</key>
      <real>-26.5</real>
      <key>O</key>
      <integer>-39</integer>
      <key>Q</key>
      <real>-32.5</real>
      <key>T</key>
      <real>-56.5</real>
      <key>V</key>
      <integer>-97</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <real>-9.500000000000002</real>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>-36</integer>
      <key>w</key>
      <integer>-23</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <real>-16.000000000000004</real>
      <key>public.kern2.w</key>
      <real>-6.500000000000001</real>
    </dict>
    <key>C</key>
    <dict>
      <key>AE</key>
      <real>-12.500000000000002</real>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>V</key>
      <real>-32.5</real>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
      <key>x</key>
      <integer>0</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>J</key>
      <integer>-39</integer>
      <key>a</key>
      <integer>-54</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <real>-13.999999999999996</real>
      <key>public.kern2.A</key>
      <real>-66.5</real>
      <key>s</key>
      <real>-12.500000000000002</real>
    </dict>
    <key>G</key>
    <dict>
      <key>Y</key>
      <integer>-27</integer>
      <key>a</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <real>-31.000000000000004</real>
      <key>public.kern2.Y</key>
      <real>-10.499999999999996</real>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-12.500000000000002</real>
    </dict>
    <key>K</key>
    <dict>
      <key>a</key>
      <real>-13.000000000000002</real>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-29</integer>
      <key>public.kern2.o</key>
      <real>-10.000000000000002</real>
      <key>public.kern2.v</key>
      <real>-39.00000000000001</real>
      <key>public.kern2.w</key>
      <real>-26.000000000000004</real>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-84</integer>
      <key>Y</key>
      <integer>-140</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <real>-12.999999999999993</real>
      <key>public.kern2.W</key>
      <real>-71.50000000000001</real>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>T</key>
      <real>-30.5</real>
      <key>Y</key>
      <real>-58.5</real>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>Oslash</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-31.500000000000007</real>
    </dict>
    <key>Oslashacute</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-31.500000000000007</real>
    </dict>
    <key>P</key>
    <dict>
      <key>Y</key>
      <integer>-23</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <real>-69.5</real>
      <key>public.kern2.period</key>
      <real>-92.5</real>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-50.50000000000001</real>
      <key>public.kern2.W</key>
      <real>-44.50000000000001</real>
    </dict>
    <key>R</key>
    <dict>
      <key>T</key>
      <real>-9.999999999999993</real>
      <key>Y</key>
      <real>-39.00000000000001</real>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>oslash</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <real>-15.999999999999998</real>
      <key>public.kern2.o</key>
      <real>-13.000000000000002</real>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <real>-16.000000000000004</real>
    </dict>
    <key>S</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <real>-13.000000000000002</real>
      <key>w</key>
      <real>-13.000000000000002</real>
    </dict>
    <key>Schwa</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-31.500000000000007</real>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <real>-56.5</real>
      <key>a</key>
      <integer>-107</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <real>-30.5</real>
      <key>public.kern2.period</key>
      <real>-75.5</real>
      <key>v</key>
      <real>-58.50000000000001</real>
      <key>w</key>
      <real>-83.5</real>
    </dict>
    <key>U</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <real>-12.5</real>
      <key>s</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-91</integer>
      <key>a</key>
      <integer>-113</integer>
      <key>b</key>
      <integer>0</integer>
      <key>u</key>
      <integer>-83</integer>
      <key>v</key>
      <real>7.105427357601002e-15</real>
    </dict>
    <key>X</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <real>-13.000000000000002</real>
      <key>public.kern2.v</key>
      <real>-10.000000000000002</real>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>O</key>
      <real>-58.5</real>
      <key>S</key>
      <real>-26.000000000000004</real>
      <key>a</key>
      <real>-93.5</real>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>-97</integer>
      <key>public.kern2.O</key>
      <real>-58.5</real>
      <key>s</key>
      <real>-86.5</real>
      <key>u</key>
      <integer>-78</integer>
      <key>v</key>
      <integer>-60</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
      <key>x</key>
      <integer>0</integer>
    </dict>
    <key>aring</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>n</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <real>-16.5</real>
      <key>w</key>
      <real>-16.5</real>
      <key>x</key>
      <real>-16.5</real>
    </dict>
    <key>c</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <real>-14.500000000000002</real>
      <key>w</key>
      <real>-11.5</real>
      <key>x</key>
      <real>-11.5</real>
    </dict>
    <key>f</key>
    <dict>
      <key>a</key>
      <real>-26.5</real>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>iacute</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>a</key>
      <real>-6.499999999999998</real>
      <key>b</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <real>-15.499999999999998</real>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>public.kern2.v</key>
      <real>-1.9999999999999996</real>
      <key>public.kern2.w</key>
      <real>-1.9999999999999996</real>
    </dict>
    <key>n</key>
    <dict>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>four</key>
      <real>-46.5</real>
    </dict>
    <key>o</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>c</key>
      <integer>0</integer>
    </dict>
    <key>oe</key>
    <dict>
      <key>public.kern2.x</key>
      <real>-12.500000000000002</real>
    </dict>
    <key>oslash</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>four</key>
      <real>-18.499999999999993</real>
      <key>public.kern2.T</key>
      <real>-75.5</real>
      <key>public.kern2.V</key>
      <real>-107.5</real>
      <key>public.kern2.W</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <real>-103.5</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>Hbar</key>
      <real>-38.00000000000001</real>
      <key>U</key>
      <real>-13.5</real>
      <key>Y</key>
      <integer>-91</integer>
      <key>public.kern2.O</key>
      <real>-40.5</real>
      <key>public.kern2.T</key>
      <real>-64.5</real>
      <key>public.kern2.U</key>
      <real>-16.5</real>
      <key>public.kern2.V</key>
      <real>-64.5</real>
      <key>public.kern2.W</key>
      <real>-91.5</real>
      <key>public.kern2.Y</key>
      <integer>-95</integer>
      <key>public.kern2.o</key>
      <real>-10.000000000000002</real>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>AE</key>
      <real>-19.000000000000004</real>
      <key>Z</key>
      <real>-12.500000000000002</real>
      <key>public.kern2.V</key>
      <real>-25.500000000000004</real>
      <key>public.kern2.W</key>
      <integer>-18</integer>
      <key>public.kern2.X</key>
      <real>-12.500000000000002</real>
      <key>public.kern2.Y</key>
      <real>-25.500000000000004</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>AE</key>
      <integer>-99</integer>
      <key>J</key>
      <real>-35.49999999999999</real>
      <key>i</key>
      <real>-17.499999999999996</real>
      <key>j</key>
      <real>-17.499999999999996</real>
      <key>public.kern2.A</key>
      <real>-35.49999999999999</real>
      <key>public.kern2.O</key>
      <real>-14.499999999999996</real>
      <key>public.kern2.n</key>
      <real>-20.999999999999993</real>
      <key>public.kern2.o</key>
      <integer>-54</integer>
      <key>public.kern2.period</key>
      <real>-43.999999999999986</real>
      <key>public.kern2.v</key>
      <integer>-29</integer>
      <key>u</key>
      <real>-15.999999999999996</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-15.999999999999996</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-26.499999999999993</real>
      <key>public.kern2.V</key>
      <real>-139.5</real>
      <key>public.kern2.W</key>
      <real>-42.499999999999986</real>
      <key>public.kern2.Y</key>
      <real>-42.499999999999986</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>A</key>
      <integer>-39</integer>
      <key>AE</key>
      <real>-50.50000000000001</real>
      <key>X</key>
      <integer>-35</integer>
      <key>Y</key>
      <real>-32.5</real>
      <key>Z</key>
      <real>-19.000000000000004</real>
      <key>public.kern2.A</key>
      <real>-40.5</real>
      <key>public.kern2.T</key>
      <real>-17.499999999999996</real>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.W</key>
      <integer>-53</integer>
      <key>public.kern2.X</key>
      <real>-12.499999999999996</real>
      <key>public.kern2.Y</key>
      <real>-13.999999999999996</real>
      <key>public.kern2.x</key>
      <real>-13.000000000000002</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>AE</key>
      <real>-63.000000000000014</real>
      <key>Z</key>
      <real>-25.500000000000004</real>
      <key>four</key>
      <real>-18.499999999999993</real>
      <key>public.kern2.A</key>
      <real>-35.99999999999999</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-15.999999999999996</real>
      <key>public.kern2.T</key>
      <real>-35.49999999999999</real>
      <key>public.kern2.V</key>
      <real>-25.500000000000004</real>
      <key>public.kern2.W</key>
      <integer>-57</integer>
      <key>public.kern2.Y</key>
      <real>-24.499999999999993</real>
      <key>public.kern2.v</key>
      <real>-30.499999999999996</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-4.999999999999998</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>AE</key>
      <real>-38.00000000000001</real>
      <key>i</key>
      <real>-20.999999999999993</real>
      <key>public.kern2.A</key>
      <real>-64.5</real>
      <key>public.kern2.O</key>
      <real>-17.499999999999996</real>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-107</integer>
      <key>public.kern2.period</key>
      <real>-35.49999999999999</real>
      <key>public.kern2.s</key>
      <integer>-87</integer>
      <key>public.kern2.v</key>
      <integer>-100</integer>
      <key>r</key>
      <integer>-110</integer>
      <key>z</key>
      <real>-76.5</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-16.5</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>AE</key>
      <real>-82.00000000000001</real>
      <key>J</key>
      <real>-12.500000000000002</real>
      <key>i</key>
      <real>-13.999999999999996</real>
      <key>public.kern2.A</key>
      <real>-63.000000000000014</real>
      <key>public.kern2.O</key>
      <real>-46.5</real>
      <key>public.kern2.n</key>
      <integer>-76</integer>
      <key>public.kern2.o</key>
      <integer>-113</integer>
      <key>public.kern2.period</key>
      <real>-107.5</real>
      <key>public.kern2.s</key>
      <integer>-76</integer>
      <key>public.kern2.v</key>
      <real>-79.5</real>
      <key>t</key>
      <real>-8.999999999999998</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>AE</key>
      <real>-57.00000000000001</real>
      <key>J</key>
      <real>-19.000000000000004</real>
      <key>i</key>
      <real>-13.999999999999996</real>
      <key>public.kern2.A</key>
      <integer>-91</integer>
      <key>public.kern2.O</key>
      <real>-52.5</real>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <real>-93.5</real>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <real>-56.5</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>AE</key>
      <real>-95.5</real>
      <key>p</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-101</integer>
      <key>public.kern2.O</key>
      <real>-17.499999999999996</real>
      <key>public.kern2.n</key>
      <real>-73.5</real>
      <key>public.kern2.o</key>
      <real>-106.5</real>
      <key>public.kern2.period</key>
      <real>-103.5</real>
      <key>t</key>
      <real>-20.999999999999993</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-22.5</real>
      <key>schwa</key>
      <real>-12.500000000000002</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>schwa</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.v</key>
      <real>-14.500000000000002</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-13</integer>
      <key>public.kern2.w</key>
      <integer>-13</integer>
      <key>public.kern2.x</key>
      <real>-9.500000000000002</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-18</integer>
      <key>schwa</key>
      <real>-6.500000000000001</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>a</key>
      <real>-13.000000000000002</real>
      <key>public.kern2.o</key>
      <real>-10.000000000000002</real>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-38.00000000000001</real>
    </dict>
    <key>r</key>
    <dict>
      <key>a</key>
      <integer>-10</integer>
      <key>b</key>
      <integer>0</integer>
      <key>period</key>
      <real>-43.5</real>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>cedi</key>
      <real>-12.500000000000002</real>
      <key>cent</key>
      <real>-44.50000000000001</real>
      <key>copyright</key>
      <real>-36.5</real>
      <key>currency</key>
      <real>-37.5</real>
      <key>dong</key>
      <real>-21.999999999999993</real>
      <key>four</key>
      <real>-83.5</real>
      <key>guarani</key>
      <real>-25.500000000000004</real>
      <key>lira</key>
      <real>-44.50000000000001</real>
      <key>liraTurkish</key>
      <real>-12.500000000000002</real>
      <key>manat</key>
      <real>-6.500000000000001</real>
      <key>nine</key>
      <real>-7.499999999999998</real>
      <key>section</key>
      <real>-19.000000000000004</real>
      <key>six</key>
      <real>-7.499999999999998</real>
      <key>sterling</key>
      <real>-38.00000000000001</real>
    </dict>
    <key>t</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>three</key>
      <real>-19.000000000000004</real>
      <key>two</key>
      <real>-12.500000000000002</real>
    </dict>
    <key>threesuperior</key>
    <dict>
      <key>four</key>
      <real>-50.50000000000001</real>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <real>-7.499999999999998</real>
    </dict>
    <key>v</key>
    <dict>
      <key>a</key>
      <real>-16.5</real>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>a</key>
      <real>-3.499999999999999</real>
      <key>b</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <real>-6.500000000000001</real>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>o</key>
      <real>-13.000000000000002</real>
    </dict>
    <key>yen</key>
    <dict>
      <key>cedi</key>
      <real>-25.500000000000004</real>
      <key>cent</key>
      <real>-44.50000000000001</real>
      <key>colonsign</key>
      <real>-25.500000000000004</real>
      <key>copyright</key>
      <real>-25.500000000000004</real>
      <key>currency</key>
      <real>-31.500000000000007</real>
      <key>five</key>
      <real>-19.000000000000004</real>
      <key>four</key>
      <real>-44.50000000000001</real>
      <key>guarani</key>
      <real>-25.500000000000004</real>
      <key>lira</key>
      <real>-25.500000000000004</real>
      <key>nine</key>
      <real>-19.000000000000004</real>
      <key>six</key>
      <real>-25.500000000000004</real>
      <key>sterling</key>
      <real>-31.500000000000007</real>
      <key>three</key>
      <real>-12.500000000000002</real>
      <key>two</key>
      <real>-19.000000000000004</real>
      <key>zero.zero</key>
      <real>-38.00000000000001</real>
    </dict>
    <key>z</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>zero.zero</key>
    <dict>
      <key>yen</key>
      <real>-38.00000000000001</real>
    </dict>
  </dict>
</plist>
