<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>C</key>
      <real>-43.400000000000006</real>
      <key>G</key>
      <real>-27.900000000000002</real>
      <key>O</key>
      <real>-43.400000000000006</real>
      <key>Q</key>
      <real>-39.5</real>
      <key>T</key>
      <real>-57.900000000000006</real>
      <key>V</key>
      <real>-102.2</real>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <real>-11.700000000000003</real>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <real>-39.60000000000001</real>
      <key>w</key>
      <real>-23.8</real>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <real>-19.600000000000005</real>
      <key>public.kern2.w</key>
      <real>-7.900000000000002</real>
    </dict>
    <key>C</key>
    <dict>
      <key>AE</key>
      <real>-15.500000000000004</real>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>V</key>
      <real>-39.5</real>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
      <key>x</key>
      <integer>0</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>J</key>
      <real>-43.400000000000006</real>
      <key>a</key>
      <real>-48.39999999999999</real>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <real>-8.399999999999995</real>
      <key>public.kern2.A</key>
      <real>-67.9</real>
      <key>s</key>
      <real>-15.500000000000004</real>
    </dict>
    <key>G</key>
    <dict>
      <key>Y</key>
      <real>-26.2</real>
      <key>a</key>
      <integer>0</integer>
      <key>public.kern2.W</key>
      <real>-34.60000000000001</real>
      <key>public.kern2.Y</key>
      <real>-6.299999999999994</real>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-15.500000000000004</real>
    </dict>
    <key>K</key>
    <dict>
      <key>a</key>
      <real>-15.800000000000004</real>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <real>-35.400000000000006</real>
      <key>public.kern2.o</key>
      <real>-12.000000000000004</real>
      <key>public.kern2.v</key>
      <real>-47.40000000000001</real>
      <key>public.kern2.w</key>
      <real>-31.60000000000001</real>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <real>-80.39999999999999</real>
      <key>Y</key>
      <integer>-140</integer>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <real>-15.79999999999999</real>
      <key>public.kern2.W</key>
      <real>-86.9</real>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>T</key>
      <real>-28.299999999999997</real>
      <key>Y</key>
      <real>-65.10000000000001</real>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>Oslash</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-38.900000000000006</real>
    </dict>
    <key>Oslashacute</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-38.900000000000006</real>
    </dict>
    <key>P</key>
    <dict>
      <key>Y</key>
      <real>-23.8</real>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <real>-71.7</real>
      <key>public.kern2.period</key>
      <real>-95.5</real>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-62.30000000000001</real>
      <key>public.kern2.W</key>
      <real>-54.70000000000002</real>
    </dict>
    <key>R</key>
    <dict>
      <key>T</key>
      <real>-11.999999999999993</real>
      <key>Y</key>
      <real>-47.40000000000001</real>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>oslash</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <real>-19.599999999999998</real>
      <key>public.kern2.o</key>
      <real>-15.800000000000004</real>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <real>-19.600000000000005</real>
    </dict>
    <key>S</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <real>-15.800000000000004</real>
      <key>w</key>
      <real>-15.800000000000004</real>
    </dict>
    <key>Schwa</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-38.900000000000006</real>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <real>-57.900000000000006</real>
      <key>a</key>
      <real>-104.19999999999999</real>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <real>-28.299999999999997</real>
      <key>public.kern2.period</key>
      <real>-65.29999999999998</real>
      <key>v</key>
      <real>-71.10000000000001</real>
      <key>w</key>
      <real>-82.1</real>
    </dict>
    <key>U</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <real>-15.5</real>
      <key>s</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <real>-94.6</real>
      <key>a</key>
      <real>-117.8</real>
      <key>b</key>
      <integer>0</integer>
      <key>u</key>
      <real>-85.80000000000001</real>
      <key>v</key>
      <real>7.105427357601002e-15</real>
    </dict>
    <key>X</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <real>-15.800000000000004</real>
      <key>public.kern2.v</key>
      <real>-12.000000000000004</real>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>O</key>
      <real>-65.10000000000001</real>
      <key>S</key>
      <real>-29.600000000000005</real>
      <key>a</key>
      <real>-92.1</real>
      <key>b</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <real>-102.2</real>
      <key>public.kern2.O</key>
      <real>-65.10000000000001</real>
      <key>s</key>
      <real>-87.89999999999999</real>
      <key>u</key>
      <real>-78.8</real>
      <key>v</key>
      <integer>-60</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
      <key>x</key>
      <integer>0</integer>
    </dict>
    <key>aring</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>n</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <real>-17.900000000000002</real>
      <key>w</key>
      <real>-17.900000000000002</real>
      <key>x</key>
      <real>-17.900000000000002</real>
    </dict>
    <key>c</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <real>-16.700000000000003</real>
      <key>w</key>
      <real>-12.900000000000002</real>
      <key>x</key>
      <real>-12.900000000000002</real>
    </dict>
    <key>f</key>
    <dict>
      <key>a</key>
      <real>-27.900000000000002</real>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>iacute</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>a</key>
      <real>-7.899999999999997</real>
      <key>b</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <real>-13.299999999999999</real>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>public.kern2.v</key>
      <real>-1.1999999999999993</real>
      <key>public.kern2.w</key>
      <real>-1.1999999999999993</real>
    </dict>
    <key>n</key>
    <dict>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>four</key>
      <real>-47.900000000000006</real>
    </dict>
    <key>o</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>c</key>
      <integer>0</integer>
    </dict>
    <key>oe</key>
    <dict>
      <key>public.kern2.x</key>
      <real>-15.500000000000004</real>
    </dict>
    <key>oslash</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>four</key>
      <real>-11.099999999999994</real>
      <key>public.kern2.T</key>
      <real>-65.29999999999998</real>
      <key>public.kern2.V</key>
      <real>-104.5</real>
      <key>public.kern2.W</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <real>-102.1</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>Hbar</key>
      <real>-46.80000000000001</real>
      <key>U</key>
      <real>-16.1</real>
      <key>Y</key>
      <real>-94.6</real>
      <key>public.kern2.O</key>
      <real>-44.300000000000004</real>
      <key>public.kern2.T</key>
      <real>-62.69999999999999</real>
      <key>public.kern2.U</key>
      <real>-17.900000000000002</real>
      <key>public.kern2.V</key>
      <real>-78.70000000000002</real>
      <key>public.kern2.W</key>
      <real>-98.9</real>
      <key>public.kern2.Y</key>
      <integer>-97</integer>
      <key>public.kern2.o</key>
      <real>-12.000000000000004</real>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>AE</key>
      <real>-23.400000000000006</real>
      <key>Z</key>
      <real>-15.500000000000004</real>
      <key>public.kern2.V</key>
      <real>-31.300000000000008</real>
      <key>public.kern2.W</key>
      <real>-18.8</real>
      <key>public.kern2.X</key>
      <real>-15.500000000000004</real>
      <key>public.kern2.Y</key>
      <real>-31.300000000000008</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>AE</key>
      <real>-103.4</real>
      <key>J</key>
      <real>-21.299999999999983</real>
      <key>i</key>
      <real>-10.499999999999993</real>
      <key>j</key>
      <real>-10.499999999999993</real>
      <key>public.kern2.A</key>
      <real>-21.299999999999983</real>
      <key>public.kern2.O</key>
      <real>-8.699999999999989</real>
      <key>public.kern2.n</key>
      <real>-12.599999999999994</real>
      <key>public.kern2.o</key>
      <real>-48.39999999999999</real>
      <key>public.kern2.period</key>
      <real>-26.39999999999999</real>
      <key>public.kern2.v</key>
      <real>-25.399999999999995</real>
      <key>u</key>
      <real>-19.599999999999994</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-9.59999999999999</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-15.899999999999991</real>
      <key>public.kern2.V</key>
      <real>-143.7</real>
      <key>public.kern2.W</key>
      <real>-25.499999999999986</real>
      <key>public.kern2.Y</key>
      <real>-25.499999999999986</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>A</key>
      <real>-43.400000000000006</real>
      <key>AE</key>
      <real>-62.30000000000001</real>
      <key>X</key>
      <integer>-35</integer>
      <key>Y</key>
      <real>-39.5</real>
      <key>Z</key>
      <real>-23.400000000000006</real>
      <key>public.kern2.A</key>
      <real>-44.300000000000004</real>
      <key>public.kern2.T</key>
      <real>-10.499999999999993</real>
      <key>public.kern2.V</key>
      <integer>-47</integer>
      <key>public.kern2.W</key>
      <real>-55.800000000000004</real>
      <key>public.kern2.X</key>
      <real>-7.4999999999999964</real>
      <key>public.kern2.Y</key>
      <real>-8.399999999999995</real>
      <key>public.kern2.x</key>
      <real>-15.800000000000004</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>AE</key>
      <real>-77.80000000000001</real>
      <key>Z</key>
      <real>-31.300000000000008</real>
      <key>four</key>
      <real>-11.099999999999994</real>
      <key>public.kern2.A</key>
      <real>-27.599999999999987</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-9.59999999999999</real>
      <key>public.kern2.T</key>
      <real>-21.299999999999983</real>
      <key>public.kern2.V</key>
      <real>-31.300000000000008</real>
      <key>public.kern2.W</key>
      <real>-50.19999999999999</real>
      <key>public.kern2.Y</key>
      <real>-14.699999999999989</real>
      <key>public.kern2.v</key>
      <real>-26.299999999999994</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-2.9999999999999982</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>AE</key>
      <real>-46.80000000000001</real>
      <key>i</key>
      <real>-12.599999999999994</real>
      <key>public.kern2.A</key>
      <real>-62.69999999999999</real>
      <key>public.kern2.O</key>
      <real>-10.499999999999993</real>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <real>-104.19999999999999</real>
      <key>public.kern2.period</key>
      <real>-21.299999999999983</real>
      <key>public.kern2.s</key>
      <real>-84.19999999999999</real>
      <key>public.kern2.v</key>
      <integer>-100</integer>
      <key>r</key>
      <integer>-106</integer>
      <key>z</key>
      <real>-77.89999999999999</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-17.900000000000002</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>AE</key>
      <real>-101.20000000000003</real>
      <key>J</key>
      <real>-15.500000000000004</real>
      <key>i</key>
      <real>-8.399999999999995</real>
      <key>public.kern2.A</key>
      <real>-77.80000000000001</real>
      <key>public.kern2.O</key>
      <real>-47.900000000000006</real>
      <key>public.kern2.n</key>
      <real>-81.60000000000001</real>
      <key>public.kern2.o</key>
      <real>-117.8</real>
      <key>public.kern2.period</key>
      <real>-104.5</real>
      <key>public.kern2.s</key>
      <real>-79.60000000000001</real>
      <key>public.kern2.v</key>
      <real>-83.7</real>
      <key>t</key>
      <real>-5.399999999999995</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>AE</key>
      <real>-70.20000000000002</real>
      <key>J</key>
      <real>-23.400000000000006</real>
      <key>i</key>
      <real>-8.399999999999995</real>
      <key>public.kern2.A</key>
      <real>-94.6</real>
      <key>public.kern2.O</key>
      <real>-55.50000000000001</real>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <real>-92.1</real>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <real>-57.900000000000006</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>AE</key>
      <real>-101.30000000000001</real>
      <key>p</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <real>-104.60000000000001</real>
      <key>public.kern2.O</key>
      <real>-10.499999999999993</real>
      <key>public.kern2.n</key>
      <real>-72.1</real>
      <key>public.kern2.o</key>
      <real>-107.89999999999999</real>
      <key>public.kern2.period</key>
      <real>-102.1</real>
      <key>t</key>
      <real>-12.599999999999994</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-25.500000000000004</real>
      <key>schwa</key>
      <real>-15.500000000000004</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>schwa</key>
      <real>-8.8</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.v</key>
      <real>-16.700000000000003</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.v</key>
      <real>-13.8</real>
      <key>public.kern2.w</key>
      <real>-13.8</real>
      <key>public.kern2.x</key>
      <real>-11.700000000000003</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-18.8</real>
      <key>schwa</key>
      <real>-7.900000000000002</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>a</key>
      <real>-15.800000000000004</real>
      <key>public.kern2.o</key>
      <real>-12.000000000000004</real>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-46.80000000000001</real>
    </dict>
    <key>r</key>
    <dict>
      <key>a</key>
      <integer>-12</integer>
      <key>b</key>
      <integer>0</integer>
      <key>period</key>
      <real>-42.099999999999994</real>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>cedi</key>
      <real>-15.500000000000004</real>
      <key>cent</key>
      <real>-54.70000000000002</real>
      <key>copyright</key>
      <real>-37.900000000000006</real>
      <key>currency</key>
      <real>-34.49999999999999</real>
      <key>dong</key>
      <real>-13.199999999999989</real>
      <key>four</key>
      <real>-82.1</real>
      <key>guarani</key>
      <real>-31.300000000000008</real>
      <key>lira</key>
      <real>-54.70000000000002</real>
      <key>liraTurkish</key>
      <real>-15.500000000000004</real>
      <key>manat</key>
      <real>-7.900000000000002</real>
      <key>nine</key>
      <real>-4.4999999999999964</real>
      <key>section</key>
      <real>-23.400000000000006</real>
      <key>six</key>
      <real>-4.4999999999999964</real>
      <key>sterling</key>
      <real>-46.80000000000001</real>
    </dict>
    <key>t</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>w</key>
      <integer>0</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>three</key>
      <real>-23.400000000000006</real>
      <key>two</key>
      <real>-15.500000000000004</real>
    </dict>
    <key>threesuperior</key>
    <dict>
      <key>four</key>
      <real>-62.30000000000001</real>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <real>-4.4999999999999964</real>
    </dict>
    <key>v</key>
    <dict>
      <key>a</key>
      <real>-17.900000000000002</real>
      <key>b</key>
      <integer>0</integer>
      <key>f</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>a</key>
      <real>-2.099999999999998</real>
      <key>b</key>
      <integer>0</integer>
      <key>period</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <real>-7.900000000000002</real>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>o</key>
      <real>-15.800000000000004</real>
    </dict>
    <key>yen</key>
    <dict>
      <key>cedi</key>
      <real>-31.300000000000008</real>
      <key>cent</key>
      <real>-54.70000000000002</real>
      <key>colonsign</key>
      <real>-31.300000000000008</real>
      <key>copyright</key>
      <real>-31.300000000000008</real>
      <key>currency</key>
      <real>-38.900000000000006</real>
      <key>five</key>
      <real>-23.400000000000006</real>
      <key>four</key>
      <real>-54.70000000000002</real>
      <key>guarani</key>
      <real>-31.300000000000008</real>
      <key>lira</key>
      <real>-31.300000000000008</real>
      <key>nine</key>
      <real>-23.400000000000006</real>
      <key>six</key>
      <real>-31.300000000000008</real>
      <key>sterling</key>
      <real>-38.900000000000006</real>
      <key>three</key>
      <real>-15.500000000000004</real>
      <key>two</key>
      <real>-23.400000000000006</real>
      <key>zero.zero</key>
      <real>-46.80000000000001</real>
    </dict>
    <key>z</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>zero.zero</key>
    <dict>
      <key>yen</key>
      <real>-46.80000000000001</real>
    </dict>
  </dict>
</plist>
